@font-face {
  font-family: 'panama';
  src: url('../fonts/panama-bold-webfont.woff2') format('woff2'),
    url('../fonts/panama-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root {
  --main-bg-color: rgb(6, 62, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background-color: var(--main-bg-color);
  color: white;
  font-family: 'panama';
  text-align: center;
}

body > * {
  padding: 2rem 0;
}

#starter-title {
  text-align: center;
}

#starter-image {
  height: auto;
  width: 80vw;
}
